
.navbar a {
	list-style-type: none;
	background-color: beige

}


li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: black;
}


.navbar a:hover {
	background: lightcyan;
	color: black
}

#portpic{
	height: 200px;
	width: 200px;
}





